

.larger {
  width: 600px; 
  height: 600px;
  border: 2px solid #ef0707; 
  background-color: rgba(147, 6, 6, 0.26)
}




/* Styles for the card images, it shows when hover over images it'll be uncleared */
.card-img-top {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease, border 0.3s ease, opacity 0.3s ease;
  

  opacity: 1;

  &:hover {
    transform: scale(1.05);
    border: 2px solid #0015ff;
    opacity: 0.7; /* Adjust the opacity level as needed */
  }
}

.image-checkbox {
  display: none;
}

/* when the cursor will touch the card it will  show select checkbox on the top of the image */

.card:hover .image-checkbox {
  display: block;
  z-index: 1;
  
}

.card-body{
  background-color: skyblue;
}

.card-header{
  text-align: center;
  
}

.image-caption{
  text-align: center;
}